@{
    ViewData["Title"] = "Welcome";
}
<div class="row">
    <div class="col-6">
        <h1>@ViewData["Title"]</h1>
    </div>
</div>

<img src="/images/sacrament.png" class="d-block w-100" alt="Taking the sacrament">

<div class="text-center">
    <br />
    <p>Welcome to our sacrament planner website. This website is designed to help bishopbrics plan and coordinate sacrament meetings.</p>
    <br />
</div>